body { background: #282523; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-search-0 { color: #a727db; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #87723f; font-size: 21px; margin-bottom: 5px; }
.block-uploader-2 { color: #f27d1c; font-size: 20px; margin-bottom: 5px; }
.block-auth-3 { color: #9fa98c; font-size: 17px; margin-bottom: 5px; }
.block-payment-4 { color: #40995b; font-size: 20px; margin-bottom: 5px; }
.block-router-5 { color: #eb8864; font-size: 19px; margin-bottom: 5px; }